@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Kumbh Sans', sans-serif;
  background: darkcyan;
}

hr{
  background-color: var(--dark-gray);
  height:1px;
  width: 100%;
  /* border-width:0; */
}

h2{
  color: var(--dark-gray);
  font-weight: 400;
  font-size: 14px;
}

span{
  color: var(--dark-gray);
  font-weight: 400;
}

.profile-card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.card-top {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.background-image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.avatar {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 5px solid #fff;
}

.card-content {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.profile-card h1 {
  /* margin: 10px 0 5px 0; */
  color: var(--very-dark-desaturated-blue);
  font-weight: 700;
  font-size: 18px;
}

.counts{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  position: relative;
}


.card-content p{
  color:var(--dark-gray);
  font-size: 12px;
}

@media (max-width: 600px) {
  .card-content {
    padding: 15px;
  }
}


 /* Top left image */
 .top-left-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1; /* Send the image to the background */
  overflow: hidden;
}

/* Bottom left image */
.bottom-left-image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1; /* Send the image to the background */
}
