@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(30, 38%, 92%);
}

main {
  display: flex;
  max-width: 650px;
  width: 100%;
}

h1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1em;
  color: #1c2c2b;
}

p {
  color: #b4b4bd;
}

h6 {
  margin: 20px 0px;
}

.description {
  font-family: Montserrat, sans-serif;
  color: hsl(228, 12%, 48%);
  line-height: 24px;
  font-weight: 400;
  font-size: 14px;
}

.card {
  display: flex;
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-picture {
  flex: 1;
  width: 50%;
  height: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.top-title {
  text-transform: uppercase;
  margin: 20px 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 5px;
  line-height: 1px;
}

.text-content {
  padding: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prices {
  display: flex;
  align-items: center;
}

.discounted-price {
  color: #babac1;
  text-decoration: line-through;
  font-size: smaller;
  padding: 10px;
}

.current-price {
  color: hsl(158, 36%, 37%);
  font-weight: 700;
  font-size: 40px;
  font-family: Fraunces;
}

button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 15px;
  font: bold;
  background-color: hsl(158, 36%, 37%);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 678px) {
  .card {
    flex-direction: column;
    margin: 20px;
  }

  .product-picture {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }

  .product-picture,
  .text-content {
    max-width: 100%;
  }

  .text-content {
    gap: 20px;
  }

  .product-picture {
    content: url("./images/image-product-mobile.jpg") !important;
    width: 100%;
    background-position: center center;
  }

  main{
    width: 600px;
  }
}
