@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --footer-light-green: #91d3c6;
  --white: hsl(0, 0%, 100%);
  --button-hover: #6FCEFC;
}

body {
  font-family: "Barlow", sans-serif;
  min-height: 100vh;
}

h2 {
  color: var(--very-dark-desaturated-blue);
  font-family: "Fraunces", sans-serif;
  text-align: left;
  font-size: 40px;
  font-weight: 900;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 50px;
}

#mobile-menu-container {
  display: none;
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translateX(-50%);
  text-align: center;
  background-color: var(--white);
  z-index: 1000;
  width: 250px;
}

#mobile-button {
  background: var(--yellow);
}

#hamburger-menu {
  display: none;
  position: relative;
}

.nav-menu-triangle{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid var(--white);
  border-top: 10px solid transparent;
  border-bottom: 10px solid var(--white);
  position: absolute;
  top: -19px;
  right: 0;
}

#mobile-menu-content li {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--very-dark-grayish-blue);
}

#mobile-menu-content{
  padding: 40px 100px;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 30px 60px;
}


ul {
  list-style: none;
}

.nav-items ul {
  display: flex;
  align-items: center;
  color: var(--white);
  gap: 2rem;
}

button {
  padding: 16px 24px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  color: var(--very-dark-desaturated-blue);
  font-weight: 700;
  font-family: "Fraunces", sans-serif;
  text-transform: uppercase;
}

button:hover{
  background-color: var(--button-hover);
  color: var(--white);
}



header {
  /* position: relative; */
  background: url("./images/desktop/image-header.jpg") center/cover no-repeat;
  height: 100vh;
}

.hero h1 {
  font-size: 40px;
  letter-spacing: 6.25px;
  color: var(--white);
  font-family: "Fraunces", sans-serif;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: bounce 2s infinite;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.section-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "text image";
}

.tranform-text {
  grid-area: text;
}

.tranform-image {
  grid-area: image;
}


.section-1 img{
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.info-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 80px;
}

.info-details {
  color: var(--dark-grayish-blue);
  line-height: 30px;
  letter-spacing: -0.13px;
  font-size: 18px;
}

.cta-1,
.cta-2 {
  color: var(--very-dark-desaturated-blue);
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Fraunces", sans-serif;
  position: relative;
  cursor: pointer;
}

.cta-1::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--yellow);
  opacity: 0.25;
  border-radius: 28px;
  height: 10px;
  width: 137px;
  bottom: -2px;
  z-index: -1;
  transition: background-color, 250ms;
}

.cta-1:hover::after{
  opacity: 0.7;
}

.cta-2::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  opacity: 0.25;
  border-radius: 28px;
  height: 10px;
  width: 137px;
  background: var(--soft-red);
  transition: opacity 0.3s ease;
}

.cta-2:hover::after {
  opacity: 0.7;
}

.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.services img {
  max-width: 100%;
  height: 100%;
}

.graphic-design,
.photography {
  text-align: center;
  position: relative;
}

.services-info {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
}

.services-info h1 {
  margin-bottom: 1.5rem;
  font-family: "Fraunces", sans-serif;
  color: var(--dark-desaturated-cyan);
}

.graphic-design p {
  color: var(--dark-desaturated-cyan);
  line-height: 27px;
  letter-spacing: -0.13px;
  font-size: 16px;
}

.photography h1 {
  color: var(--very-dark-desaturated-blue);
  margin-bottom: 1.5rem;
  font-family: "Fraunces", sans-serif;
}

.photography p {
  line-height: 27px;
  letter-spacing: -0.13px;
  font-size: 16px;
}

.testimonials-container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
  padding: 90px;
}

.testimonials {
  display: flex;
  gap: 1.5rem;
}

.testimonials-container h1 {
  font-size: 1.3rem;
  font-family: "Fraunces", serif;
  color: var(--grayish-blue);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.testimonial-content {
  color: var(--dark-grayish-blue);
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.15px;
}

.testimonial-author p:first-child {
  color: var(--very-dark-desaturated-blue);
  font-family: "Fraunces", serif;
  padding-bottom: 10px;
  font-size: 18px;
}

.testimonial-author p:nth-child(2) {
  color: var(--dark-grayish-blue);
  font-size: 14px;
}

.testimonials img {
  width: 70px;
  height: auto;
  border-radius: 50%;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery img {
  max-width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  background: var(--footer-light-green);
  padding: 50px;
}

.footer-items ul {
  list-style: none;
  display: flex;
  margin-bottom: 2rem;
  gap: 4rem;
  color: var(--dark-moderate-cyan);
}

li:hover{
  color: var(--white);
  cursor: pointer;
}

.socials ul li:hover img {
  /* filter: invert(100%);
  color: var(--white);
  fill: var(--white) */
}

.socials ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@media screen and (max-width: 768px) {
  .testimonials {
    flex-direction: column;
  }

  .info{
    grid-template-columns: 1fr;
  }

  .section-1 {
    grid-template-areas: 
      "image"
      "text"; 
    grid-template-columns: 1fr;
  }

  .services {
    grid-template-columns: 1fr;
  }

  #hamburger-menu {
    display: block;
    cursor: pointer;
  }

  .nav-items {
    display: none;
  }


  /* #mobile-menu-container {
    right: 0;
    left: 75%;
    top: 75%;
    transform: translateX(-50%);
    text-align: center;
    background-color: var(--white);
    z-index: 1000;
    width: 250px;
  } */

  
}

@media screen and (max-width: 375px) {
  .footer-items ul {
    gap: 2rem;
    font-size: 12px;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
  }

  .testimonials-container h1 {
    font-size: 1rem;
  }

  .testimonial-content {
    font-size: 16px;
  }

  .testimonials-container {
    gap: 6rem;
    padding: 50px 20px 50px 20px;
  }

  .info-text {
    gap: 1.5rem;
    padding: 40px;
    align-items: center;
    text-align: center;
  }

  .info-details {
    font-size: 16px;
  }

  .services-info{
    width: 300px;
    top: 80%;
  }

  .services h1{
    margin-bottom: .9rem;
  }

  .services p{
    font-size: 14px;
    margin-bottom: .5rem;
  }

  h2 {
    font-size: 30px;
    text-align: center;
  }

  .hero h1{
    font-size: 30px;
  }
  
  #mobile-menu-container {
    left: 50%;
    /* transform: translateX(0); */
  }
}




