
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

body, h1, h2, h3, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: hsl(0, 0%, 8%);
  line-height: 1.6;
  background-color: hsl(0, 1%, 44%);
}


.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}


span{
  color: hsl(259, 100%, 65%) ;
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
}

.results p{
  color: hsl(0, 0%, 8%);
  font-weight: bold;
  font-size: 48px;
  font-style: italic;
}

.error {
  font-size: .88rem;
  font-weight: 400;
  font-style: italic;
  padding-top: 8px;
}

.error-message{
  font-size: .7rem;
  font-style: italic;
  color: hsl(0, 100%, 67%);
}

.card{
  border-radius: 24px 24px 100px 24px;
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  border-color:hsl(0, 0%, 100%);;
}

hr {
  width: 80%;
  border: 1px solid;
}

.button-container {
  display: flex;
  align-items: center;

}

#submit-img {
  width: 100%;
  height: auto;
  padding: 25px; 
  border-radius: 50%; 
}
.submit {
  background-color: hsl(259, 100%, 65%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 70px;
  height: 70px;
}

button:hover {
  background-color: hsl(0, 0%, 8%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.form-label{
  color:  hsl(0, 1%, 44%);
  font-weight: bold;
  font-size: 12px;
}

.form-control {
  color: hsl(0, 0%, 8%);
  font-weight: bold;
  font-style: normal;
  padding: 8px;
  font-size: 18px;
  margin-bottom: 8px;
  border: 1px solid hsl(0, 0%, 70%);
  cursor: text !important;
}

.form-control:focus {
  border-color: hsl(259, 100%, 65%);
  caret-color: hsl(259, 100%, 65%);
}


@media screen {
  
}